@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: hsl(235, 16%, 14%);
}

* {
  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
}

.App {
  width: 100%;
  background-color: red;
  display: flex;
}

.body {
  display: flex;
  height: 100vh;
  width: 100%;
}

.timer-body {
  background-image: url("./images/bg-stars.svg");
  background-color: hsl(235, 16%, 14%);
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 100%);
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  padding: 100px;
}

.timer-icon {
  display: flex;
  height: 80px;
  width: 120px;
  background-color: hsl(236, 21%, 26%);
  border-radius: 5px;
  margin: 10px;
  box-shadow: blue 10px;
  color: hsl(345, 95%, 68%);
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/pattern-hills.svg");
  flex-basis: 500px;
  background-color: hsl(235, 16%, 14%);
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
}

.fb-icon,
.pt-icon,
.ig-icon {
  height: 30px;
  width: 40px;
  margin: 20px;
  background-repeat: no-repeat;
}

.fb-icon {
  background-image: url("./images/icon-facebook.svg");
  /* background-color: hsl(345, 95%, 68%); */
}

.pt-icon {
  background-image: url("./images/icon-pinterest.svg");
}

.ig-icon {
  background-image: url("./images/icon-instagram.svg");
}
